{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Smart Discount - How?</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Smart Discount" name="keywords">
        <meta content="Smart Discount gives people the ability to control discounts" name="description">
        <meta property="og:url" content="www.smartdiscount.ge" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Smart Discount" />
        <meta property="og:description" content="Smart Discount gives people the ability to control discounts"/>
        <meta property="og:image" content="{% static 'images/logo.svg' %}" />

        <!-- Favicon -->
        <link href="{% static 'images/iconlogo.svg' %}" rel="icon">


     
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
        <script src="https://kit.fontawesome.com/610e68a838.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <header>
            <div class="get-disc-logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}"></a>
            </div>
            <button class="donate">
                დონაცია
            </button>
            <a href="#" class="howtowork">
                როგორ ვისარგებლო?
            </a>
        </header>
        <main class="howtocontainer">
            <div class="what-block">
                <h1>რა არის Smart Discount?</h1>
                <p>Smart Discount არის ჭკვიანი პლატფორმა, რომელიც შეეცდება თქვენს დახმარებას შესყიდვების პროცესში. 
				თუ ელოდებით სასურველ ნივთზე ფასდაკლებას და თან არ გინდათ, რომ გამოტოვოთ სიახლე. შეგიძლიათ 
				მიანდოთ დაკვირვების პროცესი პლატფორმას და ის გამოგიგზავნით შეტყობინებას მომენტალურად ფასდაკლების 
				დადებიდან რამდენიმე წამში.</p>
            </div>
            <div class="why-block">
                <h1>რატომ?</h1>
                <div class="reasons3">
                    <div>
                        <img src="{% static 'images/savemoney.png' %}">
                        <h2>თანხას დაზოგავ</h2>
                        <p>მიუთითებ შენ სასურველი ნივთისთვის რა თანხას გადაიხდიდი და თუ ფასი დაიწევს ჩვენ 
						შეგატყობინებთ</p>
                    </div>
                    <div>
                        <img src="{% static 'images/savetime.png' %}">
                        <h2>დროს დაზოგავ</h2>
                        <p>უბრალოდ ლინკს მიგვითითებ, რომელზეც პროდუქტია განთავსებული და დაელოდები ჩვენს 
						შეტყობინებას.</p>
                    </div>
                    <div>
                        <img src="{% static 'images/free-icon.png' %}">
                        <h2>შენთვის უფასოა</h2>
                        <p>დიახ, არ მოგესმა. შეგიძლია უფასოდ ისარგებლო რამდენჯერაც გაგიხარდება და დაზოგო რამდენიც 
						გაგიხარდება</p>
                    </div>
                </div>
            </div>
            <div class="how-block">
                <h1>როგორ ვისარგებლო?</h1>
                <h2>ნაბიჯი 1:</h2>
                <p>აირჩიე უკვე ნივთი? დააკოპირე ეს ლინკი. უფრო დეტალურად: მონიშნავ სრულ ლინკს, მაუსის 
				მარჯვენა ღილაკს დააკლიკებ ლინკზე, შემდეგ "Copy".</p>
                <img src="{% static 'images/screen1.png' %}">
                <h2>ნაბიჯი 2:</h2>
                <p>სტუმრობ ჩვენს საიტს და ხსნი შესაბამისი გვერდის ფანჯარას. პროდუქტის მისამართში სვამ უკვე დაკოპირებულ ლინკს.</p>
                <img src="{% static 'images/screen3.png' %}">
                <h2>ნაბიჯი 3:</h2>
                <p>რა თქმა უნდა, ვიცით უკვე რა ღირს ნივთი, მაგრამ მაინც გადავამოწმოთ და განვსაზღვროთ რამდენით გვინდა დააკლდეს ფასი</p>
                <img src="{% static 'images/screen2.png' %}">
                <h2>ნაბიჯი 4:</h2>
                <p>თუ უკვე განსაზღვრეთ კვლავ ეწვევით საიტს და "სასურველ ფასის" გრაფაში მიუთითებთ შესაბამის ფასს.</p>
                <img src="{% static 'images/screen4.png' %}">
                <h2>ნაბიჯი 5:</h2>
                <p>ჯერ-ჯერობით, მხოლოდ ელ-ფოსტაზე ვიწერებით შეტყობინებებს, მაგრამ თუ სურვილი გექნებათ ტელეფონის ნომერსაც დავამატებთ. ასე რომ აქ ელ-ფოსტის მითითებაა აუცილებელი, რომელსაც იყენებთ. ამ ელ-ფოსტაზე მოგივათ შეტყობინება.</p>
                <img src="{% static 'images/screen5.png' %}">

                <div class="how-logo">
                    <a href="{% url 'home' %}" class="how-logo"><img src="{% static 'images/frontlogo.jpg' %}"></a>
                </div>
            </div>
        </main>
<footer class="my-page-footer">
    <div class="container2">

        <div class="footer-left-components">
            <div class="footer-logo">
                <p>
                    Smart Discount
                </p>
            </div>

            <div class="footer-components">
                <div class="list">
                    <a href="#">მთავარი</a>
                    <a href="#">კონტაქტი</a>

                </div>
                <div class="list">
                    <a href="#">შესახებ</a>
                    <a href="#">დახმარება</a>
                    <a href="#">პირობები</a>
                    <a href="#">გზამკვლევი</a>
                </div>                
            </div>
        </div>

        <div class="footer-right-components">
            <div class="letter-form">
                <form class="send-letter">
                    <input type="text" name="send" placeholder="Email" autocomplete="off">
                </form>
                <button>
                    <img src="{% static 'images/send.png' %}">
                </button>


                <p class="footer-text">მოგვწერეთ იმეილი, რადგან არ გამოგრჩეს ჩვენზე სიახლეები</p>
                
            </div>

            <div class="social-space">
                 <a href="https://www.instagram.com/" target=_blank class="network-icon" title="instagram" >
                    <i class="fab fa-instagram" ></i>
                </a>
                <a href="https://www.twitter.com/" target=_blank class="network-icon" title="twitter" >
                    <i class="fab fa-twitter" ></i>
                </a>
                <a href="https://www.facebook.com/" target=_blank class="network-icon" title="facebook">
                    <i class="fab fa-facebook" ></i>
                </a>
               
               <a href="https://www.globe.com/" target=_blank class="network-icon" title="globe-americas">
                    <i class="fas fa-globe-americas"></i>
                </a>
            </div>
        </div>
</footer>
    </body>
</html>