{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Smart Discount</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        <link href="assets/images/iconlogo.svg" rel="icon">

     
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
        <script src="https://kit.fontawesome.com/610e68a838.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <header>
            <div class="get-disc-logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}"></a>
            </div>
            <button class="donate">
                Donate
            </button>
            <a href="how.html" class="howtowork">
                How Does It Work?
            </a>
        </header>
        <div class="search-block">
            <input type="search" name="search" autocomplete="off" placeholder="Search">
            <button><i class="search-logo fas fa-search"></i></button>
        </div>
        <main class="company-logos">

            {% for site in sites %}
            <div class="shop">
                <a href="#" class="myBtn">
                    <img src="{{site.image.url}}">
                </a>

                <div class="modal">
                    <div class="modal-content-close">
                        <span class="close">&times;</span>
                    </div>
                    <div class="user-form">
                        <div class="form-banner" style="background-image: url({{site.image.url}});
                            height: 100px;
                            background-position: center;
                            background-size: cover;"></div>
                        <form method="POST" class="filling-form">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="{{site.name}}">
                            <div class="label-input">
                                <label>Product URL<a title="Because we understand which product we are talking about and observe for you" href="#">*</a>:</label>
                                {{form.url}}
                            </div>
                            <div class="label-input">
                                <label>Preferred Price<a title="Tell us what price you want, after which we will send you a message" href="#">*</a>:</label>
                                {{form.price}}
                            </div>
                            <div class="label-input">
                                <label>Email Address<a title="Enter an active email where you will receive discount information" href="#">*</a>:</label>
                                {{form.email}}
                            </div>
                            <input type="submit" value="Submit">
                        </form>
                    </div>

                </div>
            </div>

            {%endfor%}
        </main>

<footer class="my-page-footer">
    <div class="container2">

        <div class="footer-left-components">
            <div class="footer-logo">
                <p>
                    Smart Discount
                </p>
            </div>

            <div class="footer-components">
                <div class="list">
                    <a href="#">home</a>
                    <a href="#">discovery</a>
                    <a href="#">photos</a>
                    <a href="#">contact</a>

                </div>
                <div class="list">
                    <a href="#">about</a>
                    <a href="#">help</a>
                    <a href="#">terms</a>
                    <a href="#">guidlines</a>
                </div>
                <div class="list">
                    <a href="#">Testimonials</a>
                    <a href="#">advertise</a>
                    <a href="#">intergations</a>
                    <a href="#">careers</a>
                </div>
                
            </div>
        </div>

        <div class="footer-right-components">
            <div class="letter-form">
                <form class="send-letter">
                    <input type="text" name="send" placeholder="Email" autocomplete="off">
                </form>
                <button>
                    <img src="{% static 'images/send.png' %}">
                </button>


                <p class="footer-text">Stay in touch with us for the freshest products!</p>
                
            </div>

            <div class="social-space">
                 <a href="https://www.instagram.com/" target=_blank class="network-icon" title="instagram" >
                    <i class="fab fa-instagram" ></i>
                </a>
                <a href="https://www.twitter.com/" target=_blank class="network-icon" title="twitter" >
                    <i class="fab fa-twitter" ></i>
                </a>
                <a href="https://www.facebook.com/" target=_blank class="network-icon" title="facebook">
                    <i class="fab fa-facebook" ></i>
                </a>
               
               <a href="https://www.globe.com/" target=_blank class="network-icon" title="globe-americas">
                    <i class="fas fa-globe-americas"></i>
                </a>
            </div>
        </div>
</footer>

    <script type="text/javascript" src="{% static 'js/openform.js' %}"></script>
    </body>
</html>